body {
    margin: 0;
    font-family: "cormorant garamond", serif;
    background-color: #2b76716a;
    color: #f4f4f4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── NAVEGADOR ────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1000;
    background: rgb(15, 15, 15,0.95);
    border-bottom: 2px solid #cda84a;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
nav a {
    text-decoration: none;
    color: #cda84a;
    font-family: "playfair display", serif;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 5px;
}
nav a:hover {
    color: #f5f3ef;
    text-shadow: 0 0 10px #cda84a;
}

.conteiner {
    width: 100%;
    max-width: 13000px;
    margin: 0 auto;
    padding-top: 90px;
}

.poster {
  text-align: center;
  padding: 60px 20px 40px;
  background: #596a6266 ;
  color : #d4af37;
}

.poster h1 {
  font-size: 2.5rem;
  text-shadow: #0d0d0d 2px 2px 4px;
  margin-bottom: 10px;
  font-family:'Cinzel', serif;
}

.poster h2 {
  font-size: 1.5rem;
  color: #ccc;
  font-weight: normal;
  font-family:'pinyon script', cursive;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  margin: 30px 0 80px;
}

.panel {
  background: #5B7854;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  flex: 1 1 280px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.panel.light {
  background: #FFFDDC;
}

.panel.wide {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
  background: #AD2022;
  padding: 30px;
}

.panel.wide .contenido {
  flex: 1;
  color: white;
  text-align: center;
}

.panel.wide .contenido h2 {
  margin-bottom: 10px;
}

.panel.wide .extras {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.video-container {
  flex-shrink: 0;
}

.video-container iframe {
  max-width: 100%;
  border-radius: 10px;
}

.listado-artistas{
  columns: 2;
  column-gap: 50px;
  padding-left: 30px;
  margin-top: 15px;
  list-style-type: disc;
}

.listado-artistas li{
  margin-bottom: 10px;
  break-inside: avoid; /*esto evita que el nombre se corte entre columnas*/
}

.listado-artistas a {
  text-decoration: none;
  color: #f9e79f;
}

.listado-artistas a:hover {
  color: #fff;
  text-decoration: underline;
}

.texto h3 {
  color: #d4af37;
  font-family: 'playfair display', serif;
  font-size: 2rem;
}

.texto p {
  margin-bottom: 12px;
  font-size: 0.95rem;
  color: #000;
  font-family: 'cormorant garamond', serif;
}

.btn {
  background: #d4af37;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
}

.btn:hover {
  background: #f0d98a;
}


.datos-interesantes {
  text-align: center;
  margin-top: 60px;
}

.datos-interesantes h2 {
  color: #d4af37;
  margin-bottom: 15px;
}

.datos-interesantes p {
  color: #fff;
  font-style: italic;
  font-size: 1.1em;
}


/*── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── FOORER ────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──*/
footer {
  background-color: #111;
  color: #d4af37;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #d4af37;
}