body {
    margin: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: auto;
    padding: 40px 0;
    box-sizing: border-box;
}

/*── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── NAVEGADOR ────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1000;
    background: rgb(15, 15, 15,0.95);
    border-bottom: 2px solid #cda84a;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
nav a {
    text-decoration: none;
    color: #cda84a;
    font-family: "playfair display", serif;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 5px;
}
nav a:hover {
    color: #f5f3ef;
    text-shadow: 0 0 10px #cda84a;
}

.listado-artistas ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin: 40px 0;
}

.listado-artistas li a {
  color: #d4af37;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

.listado-artistas li a:hover {
  color: #fff;
  text-decoration: underline;
}

.datos-interesantes {
  text-align: center;
  margin-top: 60px;
}

.datos-interesantes h2 {
  color: #d4af37;
  margin-bottom: 15px;
}

.datos-interesantes p {
  color: #fff;
  font-style: italic;
  font-size: 1.1em;
}

/*── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── FOORER ────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──*/
footer {
  background-color: #111;
  color: #d4af37;
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #d4af37;
}