body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #333333;
    overflow-x: hidden;
}

/*── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── NAVEGADOR ────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1000;
    background: rgba(15, 15, 15, 0.95);
    border-bottom: 2px solid #cda84a;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
nav a {
    text-decoration: none;
    color: #cda84a;
    font-family: "playfair display", serif;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 5px;
}
nav a:hover {
    color: #f5f3ef;
    text-shadow: 0 0 10px #cda84a;
}

h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 2.4em;
    color: #f4c142;
}


/*── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── TIMELINE ───⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──*/
.timeline-container {
    width: 100%;
    height: 260px;
    overflow: hidden; /* ← elimina la barra */
    white-space: nowrap;
    padding-top: 80px;
    position: relative;
}

.timeline-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 3000px;
    height: 4px;
    background: #5B7955;
    transform: translateY(-50%);
    opacity: 0;
}

/*── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── PUNTOS ────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──*/
.museum-point {
    position: absolute; 
    width: 22px;
    height: 22px;
    background: #b00020;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(0);
    opacity: 0;
}

.museum-point:hover {
    transform: scale(1.3) !important;
}

.museum-point span.year {
    position: absolute;
    top: -30px;
    left: -10px;
    font-size: 0.9em;
    color: #5B7955;
    opacity: 0;
}

/*── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── TARJETA ────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──*/
.museum-card {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 420px;
    max-width: 90%;
    background: #1c1c1c;
    color: #e8e6e3;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 0 25px rgba(255, 215, 110, 0.35);
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    display: none;
    filter: blur(10px);
    text-align: center;
    font-family: "Cormorant Garamond", serif;
}

.museum-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 14px;
}

.museum-card h2 {
    font-family: "Playfair Display", serif;
    color: #f6d179;
    font-size: 1.7rem;
    margin: 10px 0;
}

.museum-card p {
    font-size: 1.1rem;
    line-height: 1.4;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 22px;
    cursor: pointer;
    color: #e8e6e3;
    transition: 0.2s;
}
.close-btn:hover {
    color: #f6d179;
    transform: scale(1.2);
}

/*── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── OVERPLAY ────⋆⋅☆⋅⋆──
── ⋆⋅☆⋅⋆ ──── ⋆⋅☆⋅⋆ ──────⋆⋅☆⋅⋆──*/
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    display: none;
}

