body {
    margin: 0;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: auto;
    padding: 40px 0;
    box-sizing: border-box;
}

/*CONTENEDOR PRINCIPAL*/
.container {
    max-width: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/*NAVEGADOR*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(15, 15, 15,0.95);
    border-bottom: 2px solid #cda84a;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}
nav a {
    text-decoration: none;
    color: #cda84a;
    font-family: "playfair display", serif;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
nav a:hover {
    color: #f5f3ef;
    text-shadow: 0 0 10px #cda84a;
}
.poster {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(/img/LasMeninas-DV.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    padding: 40px;
    box-sizing: border-box;
}
.poster::after{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(top, rgba (0,0,0,0.8), transparent 60%);
}
.poster h1{
    position: relative;
    color: #cda84a;
    font-family: "cinzel", serif;
    font-size: 3rem;
    margin: 0;
    z-index: 2;
    letter-spacing: 4px;
}
.poster h2{
    position: relative;
    color: #f5f3ef;
    font-family: "pinyon script", cursive;
    font-size: 1.2rem;
    margin: 10px;
    z-index: 2;
    font-weight: 300;
    letter-spacing: 2px;
}
    
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}